*{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    border-spacing:0;
    box-sizing: border-box;
}

body {
    background-color: #B0C4DE;
    margin: 20px 0;
}

h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 1em;
}

input {
    font-size: 38px;
    -moz-appearance: textfield;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
    padding: .1em;
}

.Decimal{
    display:flex;
    justify-content: center;
    align-items: center;
}

.egal{
    margin-right: 1em;
    margin-left: 1em;
    font-family: Segoe UI Emoji;

}